:root {
    --background-color: rgb(254, 251, 246);
    --outline-color: rgb(51, 50, 56);
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(51, 50, 56);
        --outline-color: rgb(254, 251, 246);
    }
}*/

body {
    background: var(--background-color);
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selection {
    height: 96px;
    /*background: var(--background-color);*/
    width: 384px;
    display: flex;
    justify-content: space-evenly;
}
.colors {
    display: block;
    margin: auto 0;
    width: 35px;
    height: 35px;
    background: rgb(0, 0, 255);
    outline: 1px var(--outline-color) solid;
    transition: outline 0.12s ease;
}

@media (prefers-reduced-motion) {
    .colors {
        transition: outline 0s;
    }
}


[data-state="selected"] {
    outline: 5px var(--outline-color) solid;
}

canvas {
    outline: 1px var(--outline-color) solid;
}

@media (min-width:600px) {
    
}
