#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selection {
    height: 96px;
    background: white;
    width: 384px;
    display: flex;
    justify-content: space-evenly;
}
.colors {
    display: block;
    margin: auto 0;
    width: 35px;
    height: 35px;
    background: rgb(0, 0, 255);
    outline: 1px black solid;
}

[data-state="selected"] {
    outline: 5px black solid;
}

canvas {
    outline: 1px black solid;
}