:root {
    --background-color: 254, 251, 246;
    --outline-color: 51, 50, 56;
    font-family: sans-serif;
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(51, 50, 56);
        --outline-color: rgb(254, 251, 246);
    }
}*/

body {
    background: rgb(var(--background-color));
    max-height: 100vh;
    overflow-y: hidden;
    overscroll-behavior-y: none;
    padding: 0px;
    margin: 0px;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-52%));
    touch-action: manipulation;
}

#selection {
    height: 96px;
    /*background: var(--background-color);*/
    width: 480px;
    display: flex;
    justify-content: space-evenly;
}
.colors {
    display: block;
    margin: auto 0;
    width: 35px;
    height: 35px;
    background: rgb(0, 0, 255);
    outline: 1px rgb(var(--outline-color)) solid;
    transition: outline 0.12s ease;
}

@media (prefers-reduced-motion) {
    .colors {
        transition: outline 0s;
    }
}


[data-state="selected"] {
    outline: 5px rgb(var(--outline-color)) solid;
}

canvas {
    outline: 1px rgb(var(--outline-color)) solid;
}
/*
@media screen and (max-width: 600px) {
    body {
        
    }
    
    #game-container {
        touch-action: manipulation;
    }
}
*/

#selection > #guess-input {
    padding: 12px 20px;
    display: block;
    width: min(40vw, 300px);
    text-align: center;
    margin: auto 0;
    font-size: 16pt;
    border: 1px rgb(var(--outline-color)) solid;
    margin-right: 16px;
    background-color: rgb(var(--background-color));
}


#results-holder {
    position: absolute;
    --padding-size: 20px;
    padding: var(--padding-size);
    width: calc(100vw - var(--padding-size)*2);
    height: calc(100vh - var(--padding-size)*2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    z-index: 4;
    
    background-color: rgba(var(--background-color), 0.9);
}
#results-holder > table > tr > td {
    padding: 3px;
}

#username-display {
    position: absolute;
    right: 0;
    font-size: 16pt;
    text-align: right;
    z-index: 20;
}

#login-menu {
    position: absolute;
    --padding-size: 20px;
    padding: var(--padding-size);
    width: calc(100vw - var(--padding-size)*2);
    height: calc(100vh - var(--padding-size)*2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    z-index: 5;
    
    background-color: rgba(var(--background-color), 0.9);
}
#login-menu > ul {
    font-size: 12pt;
}

#login-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#login-form > input {
    padding: 12px 20px;
    border-radius: 5px;
}

#login-form > input[type="text"] {
    width: min(40vw, 300px);
    text-align: center;
    font-size: 16pt;
    margin-right: 16px;
}
#login-form > input[type="text"][disabled] {
    background: rgb(160, 160, 160);
}

#login-form > input[type="button"] {
    padding: 12px 20px;
    font-size: 16pt;
    background: rgb(235, 62, 70);
}
#login-form > input[type="button"]:hover {
    background: rgb(164, 44, 43);
    cursor: pointer;
}

#prompt-holder {
    padding-top: 5px;
}
#prompt {
    /*https://stackoverflow.com/questions/69430/is-there-a-way-to-make-text-unselectable-on-an-html-page*/
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
    font-size: 14pt;
}

#timer-holder {
    position: absolute;
    padding: 20px;
    z-index: -1;
}
#timer {
    font-family: monospace;
    font-size: 38pt;
    z-index: inherit;
}